# testresult

> 标签: Rust

## 简介

Provides TestResult type for concise and precise test failures

## 官网

- crates.io 页面：https://crates.io/crates/testresult
- 源码仓库：https://github.com/wiktor-k/testresult

## 历史版本号

- 当前版本：0.4.2

- 0.1.0
- 0.2.0
- 0.3.0
- 0.4.0
- 0.4.1
- 0.4.2

## 获取地址

- Cargo 安装：`cargo add testresult`
- 下载页面：https://crates.io/crates/testresult
